<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="title">
    <h1><b>CURRENCY CONVERTER</b></h1>
  </div>
  <div class="form-group">
    
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
      <div class="inner-div" >
        <label for="source" name="source" id="source">Enter Source CCY : </label>&nbsp;&nbsp;
        <select name="fromCurrency" id="fromCurrency" ngModel>
          <option value="USD">{{usd.id}}</option>
          <option value="GBP">{{gbp.id}}</option>
          <option value="INR">{{inr.id}}</option>
        </select>
        <br><br>
        <label for="target" name="target" id="target"  >Enter Target CCY : </label>&nbsp;&nbsp;
        <select name="toCurrency" id="toCurrency" ngModel>
          <option value="USD">{{usd.id}}</option>
          <option value="GBP">{{gbp.id}}</option>
          <option value="INR">{{inr.id}}</option>
        </select>
        <br><br>
        Amount : <input type="number" name="amount" id="amount" ngModel placeholder="Enter the amount"><br><br>
        <button id="submitButton" class="button">SUBMIT</button><br><br>
        <label for="resValue" name="resValue" id="resValue">{{fromCurrency | currencypipe: toCurrency : amount |number: '0.2'}}</label>
      </div>
     
    </form>
  </div>

</body>
</html>